/* @font-face {
  font-family: "ALAQ-DIMASHQ";
  src: url("../font/alfont_com_ALAQ-DIMASHQ.otf") format("opentype");
}

@font-face {
  font-family: "HHHHH";
  src: url("../font/HidayatullahDemo-mLp39.ttf") format("truetype");
}

@font-face {
  font-family: "RAMADHAN";
  src: url("../font/RamadhanAmazing-jEnDv.ttf") format("truetype");
}

@font-face {
  font-family: "ALHAMDULILLAH";
  src: url("../font/AllahMuhammadColor-EaxJ4.ttf") format("truetype");
} */

@font-face {
  font-family: "Syawal_Khidmat";
  src: url("../font/Syawal_Khidmat.ttf") format("woff2");
}
.header-title {
  font-family: "Syawal_Khidmat", Arial, sans-serif !important;
}

.navbar {
  padding-left: 70px;
  /* border: 1px solid red; */
}

.custom-notice-btn {
  background-color: var(--theme-colour);
  padding: 8px 25px;
  font-weight: bold;
  position: absolute;
  right: 0;
  border-radius: 52px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  bottom: 10px;
  font-size: 15px;
  
}
